body {
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(0, 0, 0);
}

.center {
    text-align: center;
}

.list-group {
    display:inline-block;
}

.link {
    color: #495057;
    text-decoration: none !important;
    cursor: pointer;
}

.link:hover {
    color: #77828d !important;
}

.margin {
    margin-left: 5px;
}